@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
}
body {
	background: #ddd;
}

div#chatroom {
	width: 600px;
	height: 500px;
	background: #bbb;
	margin: 2% auto;
	position: relative;
	padding: 5px;
}

input#mid {
	display: none;
}

div#showmessage {
	width: 440px;
	height: 340px;
	padding: 5px;
	background: #f7f7f7;
	overflow-x: hidden;
	overflow-y: auto;
}
div#showmessage textarea#message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	border: none;
	width: 440px;
	height: 340px;
	background: #f7f7f7;
	resize: none;
}

div#sendbox {
	width: 600px;
	height: 145px;
	margin-top: 5px;
	position: relative;
}

div#sendbox textarea#sendmessage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	border: none;
	width: 590px;
	height: 95px;
	resize: none;
	background: #fff;
	
}

div#sendbox input#sendbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	fon-weight: bold;
	color: #e7e7e7;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 120px;
	height: 35px;
	background: #929292;
	
}

div#sendbox label {
	position: absolute;
	left: 160px;
	bottom: 0px;
	height: 35px;
	width: 60px;
	line-height: 35px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	fon-weight: bold;
	color: #656565;
}

div#sendbox input#name {
	position: absolute;
	left: 230px;
	bottom: 5px;
	height: 20px;
	line-height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	fon-weight: bold;
	color: #111;
}

div#sidebox {
	width: 145px;
	height: 350px;
	background: #aaaaaa;
	position: absolute;
	right: 5px;
	top: 5px;
}

